.footer {
    .container {
        .top {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin: 50px 0 25px;

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: clamp(1.15rem, 2vw, 1.35rem);
                    margin-bottom: 10px;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 0;
            border-top: 1px solid var(--grey-color);

            .left {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
