.navbar {
  background: rgba(233, 233, 233, 1);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    height: 80px;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      h1 {
        font-size: clamp(1rem, 2.5vw, 2rem);
        white-space: nowrap;
        letter-spacing: 0.5px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      nav {
        display: flex;
        align-items: center;
        gap: 15px;

        .nav-links {
          display: flex;
          align-items: center;
          gap: 25px;
        }

        .menu-icon {
          display: none;
        }
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--grey-color);
        cursor: pointer;

        .cart-icon {
          position: relative;
        }

        .cart-icon span {
          position: absolute;
          top: -10px;
          right: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          font-size: 12px;
          color: var(--white-color);
          background: var(--cart-counter-color);
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    position: relative;
    .container {
      padding: 0 20px;

      .right {
        gap: 15px;

        nav {
          .nav-links {
            position: absolute;
            top: 60px;
            right: 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 150px;
            background: rgba(233, 233, 233, 1);
            padding: 20px;
            padding-left: 40px;
            z-index: 1;
          }

          .nav-links.hide {
            display: none;
          }

          .menu-icon {
            display: block;
            z-index: 2;
          }
        }
      }
    }
  }
}
